In [42]:
# Mohammad Ali Zahir
# Student ID: 40077619

# Import the different required librairies

import pandas as pd 
from functools import reduce

In [43]:
# Define the employee class

class Employee:

  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first +'.' + last + '@company.com'

# Example employee to see if the methods works fine
employee1 = Employee("John", "Doe", 50000)


print(employee1.email)

John.Doe@company.com

In [44]:
# Read the file using the pandas library and then print the contents to see if it worked

spreadsheet = pd.read_csv("./Employee.csv")
spreadsheet.head()

  First Name Last Name    Pay
0       John       Doe  15000
1       Sami      Payn  25000
2       Jean      Able  35000
3        Man    Spread  45000
4       Luke      Emia  55000

In [45]:
# function which defines the average value of a list using map and lambda

def average(lst, fn = lambda x:x):
  return sum(map(fn, lst), 0.0) / len(lst)

In [46]:
# convert the read file into a panda dataframe 
df = pd.DataFrame(spreadsheet)

# Reads the employee in the function we made
employee = Employee(df["First Name"], df["Last Name"], df["Pay"])

# Prints all the emails of the employees to see if the employee class works 
print("The email of all the employees from the file are: ")
print()
print(employee.email)

The email of all the employees from the file are:

0      John.Doe@company.com
1     Sami.Payn@company.com
2     Jean.Able@company.com
3    Man.Spread@company.com
4     Luke.Emia@company.com
dtype: object

In [47]:
# use the average function to calculate the average pay of the employees 
avg_pay = str(average(df["Pay"]))

# use the reduce function to calculate the sum of the employees
sum_pay = str(reduce(lambda x, y:x+y, df["Pay"]))

# print both total and average values 
print(f"The total pay for all the employees in the file is: $ {sum_pay}")

print(f"The average pay of the employees from the file is: $ {avg_pay}")

The total pay for all the employees in the file is: $ 175000
The average pay of the employees from the file is: $ 35000.0