In [3]:
# Mohammad Ali Zahir
# ID: 40077619
# COMP 333 - Lab 7

In [4]:
# Import the required libraries
import pandas as pd
import urllib
import os
import gzip
import re

In [5]:
# Loading the dataset 

# Creating the data folder
if not os.path.exists('./data'):
	os.makedirs('./data')

# Obtaining the dataset using the url that hosts it
kaggle_url = 'https://github.com/sundeepblue/movie_rating_prediction/raw/master/movie_metadata.csv'
if not os.path.exists('./data/kaggle_dataset.csv'):     # avoid downloading if the file exists
	response = urllib.urlretrieve(kaggle_url, './data/kaggle_dataset.csv')

In [6]:
# # Obtaining IMDB's text files
imdb_url_prefix = 'ftp://ftp.funet.fi/pub/mirrors/ftp.imdb.com/pub/'
imdb_files_list = ['genres.list.gz', 'ratings.list.gz']
for name in imdb_files_list:
	if not os.path.exists('./data/' + name):
		response = urllib.request.urlretrieve(imdb_url_prefix + name, './data/' + name)
		urllib.urlcleanup()   # urllib fails to download two files from a ftp source. This fixes the bug!
		with gzip.open('./data/' + name) as comp_file, open('./data/' + name[:-3], 'w') as reg_file:
			file_content = comp_file.read()
			reg_file.write(file_content)

In [7]:
# Open the dataset file

imdb_url = 'https://anaconda.org/BigGorilla/datasets/1/download/imdb_dataset.csv'
if not os.path.exists('./data/imdb_dataset.csv'):     # avoid downloading if the file exists
	response = urllib.urlretrieve(kaggle_url, './data/imdb_dataset.csv')

In [8]:
# Open the ratings file

with open("./data/ratings.list", encoding="ISO-8859-1") as myfile:
	head = [next(myfile) for x in range(38)]
print (''.join(head[28:38]))   # skipping the first 28 lines as they are descriptive headers

      0000000125  1888533   9.2  The Shawshank Redemption (1994)
      0000000125  1289428   9.2  The Godfather (1972)
      0000000124  889607   9.0  The Godfather: Part II (1974)
      0000000124  1864164   9.0  The Dark Knight (2008)
      0000000133  518449   8.9  12 Angry Men (1957)
      0000000133  971107   8.9  Schindler's List (1993)
      0000000123  1477112   8.9  Pulp Fiction (1994)
      0000000124  1349449   8.9  The Lord of the Rings: The Return of the King (2003)
      0000000123  559468   8.8  Il buono, il brutto, il cattivo (1966)
      0000000133  1513600   8.8  Fight Club (1999)

In [9]:
# Opening the genre file
with open("./data/genres.list", encoding="ISO-8859-1") as myfile:
	head = [next(myfile) for x in range(392)]
print (''.join(head[382:392]))   # skipping the first 382 lines as they are descriptive header

==================

"!Next?" (1994)						Documentary
"#1 Single" (2006)					Reality-TV
"#15SecondScare" (2015)					Horror
"#15SecondScare" (2015)					Short
"#15SecondScare" (2015)					Thriller
"#15SecondScare" (2015) {Who Wants to Play with the Rabbit? (#1.2)}	Drama
"#15SecondScare" (2015) {Who Wants to Play with the Rabbit? (#1.2)}	Horror
"#15SecondScare" (2015) {Who Wants to Play with the Rabbit? (#1.2)}	Short

In [10]:
# Extracting the information in genres.list 
with open("./data/genres.list", encoding="ISO-8859-1") as genres_file:
	raw_content = genres_file.readlines()
	genres_list = []
	content = raw_content[400:]
	for line in content:
		m = re.match(r'"?(.*[^"])"? \(((?:\d|\?){4})(?:/\w*)?\).*\s((?:\w|-)+)', line.strip())
		genres_list.append([m.group(1), m.group(2), m.group(3)])
	genres_data = pd.DataFrame(genres_list, columns=['movie', 'year', 'genre'])

In [11]:
# Extracting the info from ratings.list 

with open("./data/ratings.list", encoding="ISO-8859-1") as ratings_file:
	raw_content = ratings_file.readlines()
	ratings_list = []
	content = raw_content[28:]
	for line in content:
		m = re.match(r'(?:\d|\.|\*){10}\s+\d+\s+(1?\d\.\d)\s"?(.*[^"])"? \(((?:\d|\?){4})(?:/\w*)?\)', line.strip())
		if m is None: continue
		ratings_list.append([m.group(2), m.group(3), m.group(1)])
	ratings_data = pd.DataFrame(ratings_list, columns=['movie', 'year', 'rating'])

In [12]:
# Loading the Kaggle dataset from the .csv file (kaggle_dataset.csv)
kaggle_data = pd.read_csv('./data/kaggle_dataset.csv')

In [13]:
# Calculating some basic statistics about the dataset
print ('Number of movies in kaggle_data: {}'.format(kaggle_data.shape[0]))
print ('Number of movies in genres_data: {}'.format(genres_data.shape[0]))
print ('Number of movies in ratings_data: {}'.format(ratings_data.shape[0]))

Number of movies in kaggle_data: 5043
Number of movies in genres_data: 2658925
Number of movies in ratings_data: 789415

In [14]:
# Print number of duplicates
print ('Number of duplicates in kaggle_data: {}'.format(
	sum(kaggle_data.duplicated(subset=['movie_title', 'title_year'], keep=False))))
print ('Number of duplicates in genres_data: {}'.format(
	sum(genres_data.duplicated(subset=['movie', 'year'], keep=False))))
print ('Number of duplicates in ratings_data: {}'.format(
	sum(ratings_data.duplicated(subset=['movie', 'year'], keep=False))))

Number of duplicates in kaggle_data: 241
Number of duplicates in genres_data: 2031315
Number of duplicates in ratings_data: 342815

In [15]:
# Dropping the duplicates
kaggle_data = kaggle_data.drop_duplicates(subset=['movie_title', 'title_year'], keep='first').copy()
genres_data = genres_data.drop_duplicates(subset=['movie', 'year'], keep='first').copy()
ratings_data = ratings_data.drop_duplicates(subset=['movie', 'year'], keep='first').copy()

In [16]:
# Cleaning - normalizing the text 

def preprocess_title(title):
	title = title.lower()
	title = title.replace(',', ' ')
	title = title.replace("'", '')    
	title = title.replace('&', 'and')
	title = title.replace('?', '')
	return title.strip()

kaggle_data['norm_movie_title'] = kaggle_data['movie_title'].map(preprocess_title)
genres_data['norm_movie'] = genres_data['movie'].map(preprocess_title)
ratings_data['norm_movie'] = ratings_data['movie'].map(preprocess_title)

In [17]:
# Looking at samples of data

kaggle_data.sample(3, random_state=0)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,norm_movie_title
4422,Color,Simeon Rice,6.0,93.0,6.0,56.0,Lisa Brave,393.0,NaN,Action|Horror|Thriller,...,English,USA,R,1500000.0,2014.0,191.0,5.5,2.35,307,unsullied
1022,Color,Doug Liman,214.0,108.0,218.0,405.0,Ty Burrell,6000.0,9528092.0,Biography|Drama|Thriller,...,English,USA,PG-13,22000000.0,2010.0,3000.0,6.8,2.35,9000,fair game
3631,Color,Jonathan Levine,147.0,99.0,129.0,362.0,Aaron Yoo,976.0,2077046.0,Comedy|Drama|Romance,...,English,USA,R,6000000.0,2008.0,617.0,7.0,2.35,0,the wackness

In [18]:
# Removing null values from the dataset 

def preprocess_year(year):
	if pd.isnull(year):
		return '?'
	else:
		return str(int(year))

kaggle_data['norm_title_year'] = kaggle_data['title_year'].map(preprocess_year)
kaggle_data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,norm_movie_title,norm_title_year
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,avatar,2009
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,pirates of the caribbean: at worlds end,2007
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,spectre,2015
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,the dark knight rises,2012
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,star wars: episode vii - the force awakens,?

In [19]:
# LAB 7 starts here

# Added brief data 
brief_imdb_data = pd.merge(ratings_data, genres_data, how='inner', on=['norm_movie', 'year'])
brief_imdb_data.head()

,movie_x,year,rating,norm_movie,movie_y,genre
0,The Shawshank Redemption,1994,9.2,the shawshank redemption,The Shawshank Redemption,Crime
1,The Godfather,1972,9.2,the godfather,The Godfather,Crime
2,The Godfather: Part II,1974,9.0,the godfather: part ii,The Godfather: Part II,Crime
3,The Dark Knight,2008,9.0,the dark knight,The Dark Knight,Action
4,12 Angry Men,1957,8.9,12 angry men,12 Angry Men,Crime

In [20]:
# reading the new IMDB dataset
imdb_data = pd.read_csv('./data/imdb_dataset.csv')
# let's normlize the title as we did in Part 3 of the tutorial
imdb_data['norm_title'] = imdb_data['title'].map(preprocess_title)
imdb_data['norm_year'] = imdb_data['year'].map(preprocess_year)
imdb_data = imdb_data.drop_duplicates(subset=['norm_title', 'norm_year'], keep='first').copy()
imdb_data.shape

(869178, 27)

In [21]:
# Merged data table 

data_attempt1 = pd.merge(imdb_data, kaggle_data, how='inner', left_on=['norm_title', 'norm_year'],
						 right_on=['norm_movie_title', 'norm_title_year'])
data_attempt1.shape

(4248, 57)

In [23]:
# Added new imports
# !pip install py-stringsimjoin
# !pip install py_stringmatching

import py_stringsimjoin as ssj
import py_stringmatching as sm

imdb_data['id'] = range(imdb_data.shape[0])
kaggle_data['id'] = range(kaggle_data.shape[0])
similar_titles = ssj.edit_distance_join(imdb_data, kaggle_data, 'id', 'id', 'norm_title',
										'norm_movie_title', l_out_attrs=['norm_title', 'norm_year'],
										 r_out_attrs=['norm_movie_title', 'norm_title_year'], threshold=1)
# selecting the entries that have the same production year
data_attempt2 = similar_titles[similar_titles.r_norm_title_year == similar_titles.l_norm_year]
data_attempt2.shape

Collecting py-stringsimjoin
  Downloading py_stringsimjoin-0.3.2.tar.gz (1.1 MB)
Requirement already satisfied: joblib in c:\users\ali\appdata\roaming\python\python39\site-packages (from py-stringsimjoin) (1.0.1)
Requirement already satisfied: pandas>=0.16.0 in c:\users\ali\miniconda3\lib\site-packages (from py-stringsimjoin) (1.5.3)
Collecting PyPrind>=2.9.3
  Downloading PyPrind-2.11.3-py2.py3-none-any.whl (8.4 kB)
Collecting py_stringmatching>=0.2.1
  Downloading py_stringmatching-0.4.2.tar.gz (661 kB)
Requirement already satisfied: six in c:\users\ali\appdata\roaming\python\python39\site-packages (from py-stringsimjoin) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ali\miniconda3\lib\site-packages (from pandas>=0.16.0->py-stringsimjoin) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\ali\miniconda3\lib\site-packages (from pandas>=0.16.0->py-stringsimjoin) (1.20.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ali\appdata\roaming\python\python39\site-packages (from pandas>=0.16.0->py-stringsimjoin) (2.8.2)
Building wheels for collected packages: py-stringsimjoin, py-stringmatching
  Building wheel for py-stringsimjoin (setup.py): started
  Building wheel for py-stringsimjoin (setup.py): finished with status 'done'
  Created wheel for py-stringsimjoin: filename=py_stringsimjoin-0.3.2-cp39-cp39-win_amd64.whl size=1619697 sha256=2728a97a3caff7a64fa600a960f8d60a6fb22dde9df25c6e0f072146c1373522
  Stored in directory: c:\users\ali\appdata\local\pip\cache\wheels\e4\77\dd\ffb13103ce962a7fffed97cc67493274cd1d6aeb0eff251905
  Building wheel for py-stringmatching (setup.py): started
  Building wheel for py-stringmatching (setup.py): finished with status 'done'
  Created wheel for py-stringmatching: filename=py_stringmatching-0.4.2-cp39-cp39-win_amd64.whl size=1016889 sha256=a2a3ff94aac2fe5dbae0e31f3ed8aafd95a12b0b78072ca4bce78b64f08eef35
  Stored in directory: c:\users\ali\appdata\local\pip\cache\wheels\58\0c\f7\e3a0eb45dabc837a8c24b1f46a1210b1d9050f198d0bb59910
Successfully built py-stringsimjoin py-stringmatching
Installing collected packages: PyPrind, py-stringmatching, py-stringsimjoin
Successfully installed PyPrind-2.11.3 py-stringmatching-0.4.2 py-stringsimjoin-0.3.2
Requirement already satisfied: py_stringmatching in c:\users\ali\miniconda3\lib\site-packages (0.4.2)
Requirement already satisfied: six in c:\users\ali\appdata\roaming\python\python39\site-packages (from py_stringmatching) (1.16.0)
Requirement already satisfied: numpy>=1.7.0 in c:\users\ali\miniconda3\lib\site-packages (from py_stringmatching) (1.20.3)

c:\Users\Ali\miniconda3\lib\site-packages\py_stringsimjoin\utils\generic_helper.py:76: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  projected_dataframe = dataframe[proj_attrs].dropna(0,
c:\Users\Ali\miniconda3\lib\site-packages\py_stringsimjoin\utils\generic_helper.py:76: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  projected_dataframe = dataframe[proj_attrs].dropna(0,
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:38

(4679, 8)

In [24]:
# print some values from the top of the table
data_attempt2[data_attempt2.l_norm_title != data_attempt2.r_norm_movie_title].head()

,_id,l_id,r_id,l_norm_title,l_norm_year,r_norm_movie_title,r_norm_title_year,_sim_score
145,145,852736,46,world war v,2013,world war z,2013,1.0
175,175,281649,56,grave,2012,brave,2012,1.0
243,243,816188,67,upe,2009,up,2009,1.0
250,250,817366,67,ut,2009,up,2009,1.0
265,265,316745,70,hug,2011,hugo,2011,1.0

In [26]:
# transforming the "budget" column into string and creating a new **mixture** column
ssj.utils.converter.dataframe_column_to_str(imdb_data, 'budget', inplace=True)
imdb_data['mixture'] = imdb_data['norm_title'] + ' ' + imdb_data['norm_year'] + ' ' + imdb_data['budget']

# repeating the same thing for the Kaggle dataset
ssj.utils.converter.dataframe_column_to_str(kaggle_data, 'budget', inplace=True)
kaggle_data['mixture'] = kaggle_data['norm_movie_title'] + ' ' + kaggle_data['norm_title_year'] +  ' ' + kaggle_data['budget']

In [27]:
# creating candidate set C
C = ssj.overlap_coefficient_join(kaggle_data, imdb_data, 'id', 'id', 'mixture', 'mixture', sm.WhitespaceTokenizer(), 
								 l_out_attrs=['norm_movie_title', 'norm_title_year', 'duration',
											  'budget', 'content_rating'],
								 r_out_attrs=['norm_title', 'norm_year', 'length', 'budget', 'mpaa'],
								 threshold=0.65)
C.shape

c:\Users\Ali\miniconda3\lib\site-packages\py_stringsimjoin\utils\generic_helper.py:76: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  projected_dataframe = dataframe[proj_attrs].dropna(0,
c:\Users\Ali\miniconda3\lib\site-packages\py_stringsimjoin\utils\generic_helper.py:76: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  projected_dataframe = dataframe[proj_attrs].dropna(0,
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:06

(18317, 14)

In [28]:
# Specifying the keys

# !pip install py_entitymatching
import py_entitymatching as em
em.set_key(kaggle_data, 'id')   # specifying the key column in the kaggle dataset
em.set_key(imdb_data, 'id')     # specifying the key column in the imdb dataset
em.set_key(C, '_id')            # specifying the key in the candidate set
em.set_ltable(C, kaggle_data)   # specifying the left table 
em.set_rtable(C, imdb_data)     # specifying the right table
em.set_fk_rtable(C, 'r_id')     # specifying the column that matches the key in the right table 
em.set_fk_ltable(C, 'l_id')     # specifying the column that matches the key in the left table

Collecting py_entitymatching
  Downloading py_entitymatching-0.4.0.tar.gz (2.0 MB)
Requirement already satisfied: requests in c:\users\ali\miniconda3\lib\site-packages (from py_entitymatching) (2.27.1)
Requirement already satisfied: ipython>=5.6 in c:\users\ali\miniconda3\lib\site-packages (from py_entitymatching) (8.3.0)
Requirement already satisfied: matplotlib>=2.2.4 in c:\users\ali\appdata\roaming\python\python39\site-packages (from py_entitymatching) (3.4.3)
Requirement already satisfied: PyPrind in c:\users\ali\miniconda3\lib\site-packages (from py_entitymatching) (2.11.3)
Requirement already satisfied: py-stringsimjoin>=0.3.0 in c:\users\ali\miniconda3\lib\site-packages (from py_entitymatching) (0.3.2)
Collecting cloudpickle>=0.2.1
  Using cached cloudpickle-2.2.1-py3-none-any.whl (25 kB)
Requirement already satisfied: pyparsing>=2.1.4 in c:\users\ali\appdata\roaming\python\python39\site-packages (from py_entitymatching) (2.4.7)
Requirement already satisfied: scikit-learn>=0.22 in c:\users\ali\appdata\roaming\python\python39\site-packages (from py_entitymatching) (1.0)
Requirement already satisfied: scipy in c:\users\ali\appdata\roaming\python\python39\site-packages (from py_entitymatching) (1.7.1)
Requirement already satisfied: numpy in c:\users\ali\miniconda3\lib\site-packages (from py_entitymatching) (1.20.3)
Requirement already satisfied: pickleshare in c:\users\ali\miniconda3\lib\site-packages (from ipython>=5.6->py_entitymatching) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\ali\miniconda3\lib\site-packages (from ipython>=5.6->py_entitymatching) (61.2.0)
Requirement already satisfied: colorama in c:\users\ali\appdata\roaming\python\python39\site-packages (from ipython>=5.6->py_entitymatching) (0.4.4)
Requirement already satisfied: decorator in c:\users\ali\miniconda3\lib\site-packages (from ipython>=5.6->py_entitymatching) (5.1.1)
Requirement already satisfied: traitlets>=5 in c:\users\ali\miniconda3\lib\site-packages (from ipython>=5.6->py_entitymatching) (5.1.1)
Requirement already satisfied: stack-data in c:\users\ali\miniconda3\lib\site-packages (from ipython>=5.6->py_entitymatching) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\ali\miniconda3\lib\site-packages (from ipython>=5.6->py_entitymatching) (0.18.1)
Requirement already satisfied: backcall in c:\users\ali\miniconda3\lib\site-packages (from ipython>=5.6->py_entitymatching) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ali\miniconda3\lib\site-packages (from ipython>=5.6->py_entitymatching) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\ali\miniconda3\lib\site-packages (from ipython>=5.6->py_entitymatching) (0.1.2)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ali\miniconda3\lib\site-packages (from ipython>=5.6->py_entitymatching) (2.11.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ali\miniconda3\lib\site-packages (from jedi>=0.16->ipython>=5.6->py_entitymatching) (0.8.3)
Requirement already satisfied: cycler>=0.10 in c:\users\ali\appdata\roaming\python\python39\site-packages (from matplotlib>=2.2.4->py_entitymatching) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ali\appdata\roaming\python\python39\site-packages (from matplotlib>=2.2.4->py_entitymatching) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ali\appdata\roaming\python\python39\site-packages (from matplotlib>=2.2.4->py_entitymatching) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ali\appdata\roaming\python\python39\site-packages (from matplotlib>=2.2.4->py_entitymatching) (8.3.2)
Requirement already satisfied: six in c:\users\ali\appdata\roaming\python\python39\site-packages (from cycler>=0.10->matplotlib>=2.2.4->py_entitymatching) (1.16.0)
Requirement already satisfied: wcwidth in c:\users\ali\miniconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.6->py_entitymatching) (0.2.5)
Requirement already satisfied: joblib in c:\users\ali\appdata\roaming\python\python39\site-packages (from py-stringsimjoin>=0.3.0->py_entitymatching) (1.0.1)
Requirement already satisfied: py-stringmatching>=0.2.1 in c:\users\ali\miniconda3\lib\site-packages (from py-stringsimjoin>=0.3.0->py_entitymatching) (0.4.2)
Requirement already satisfied: pandas>=0.16.0 in c:\users\ali\miniconda3\lib\site-packages (from py-stringsimjoin>=0.3.0->py_entitymatching) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ali\miniconda3\lib\site-packages (from pandas>=0.16.0->py-stringsimjoin>=0.3.0->py_entitymatching) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ali\appdata\roaming\python\python39\site-packages (from scikit-learn>=0.22->py_entitymatching) (3.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ali\miniconda3\lib\site-packages (from requests->py_entitymatching) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ali\miniconda3\lib\site-packages (from requests->py_entitymatching) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ali\miniconda3\lib\site-packages (from requests->py_entitymatching) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ali\miniconda3\lib\site-packages (from requests->py_entitymatching) (3.3)
Requirement already satisfied: asttokens in c:\users\ali\miniconda3\lib\site-packages (from stack-data->ipython>=5.6->py_entitymatching) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\ali\miniconda3\lib\site-packages (from stack-data->ipython>=5.6->py_entitymatching) (0.2.2)
Requirement already satisfied: executing in c:\users\ali\miniconda3\lib\site-packages (from stack-data->ipython>=5.6->py_entitymatching) (0.8.3)
Building wheels for collected packages: py-entitymatching
  Building wheel for py-entitymatching (setup.py): started
  Building wheel for py-entitymatching (setup.py): finished with status 'done'
  Created wheel for py-entitymatching: filename=py_entitymatching-0.4.0-cp39-cp39-win_amd64.whl size=2212776 sha256=d43a8689d13292f1e251a543502c671f2926b04dff40b2ce6c8bcf7c78fe3dc3
  Stored in directory: c:\users\ali\appdata\local\pip\cache\wheels\dd\87\08\44967081e457c8c0915c6b18caa629362b2efbd05f946f9fba
Successfully built py-entitymatching
Installing collected packages: cloudpickle, py-entitymatching
Successfully installed cloudpickle-2.2.1 py-entitymatching-0.4.0

True

In [29]:
# debugging the blocker
C[['l_norm_movie_title', 'r_norm_title', 'l_norm_title_year', 'r_norm_year',
   'l_budget', 'r_budget', 'l_content_rating', 'r_mpaa']].head()

,l_norm_movie_title,r_norm_title,l_norm_title_year,r_norm_year,l_budget,r_budget,l_content_rating,r_mpaa
0,dude wheres my dog!,#hacked,2014,2014,20000,20000,PG,NaN
1,road hard,#horror,2015,2015,1500000,1500000,NaN,NaN
2,me you and five bucks,#horror,2015,2015,1500000,1500000,NaN,NaN
3,checkmate,#horror,2015,2015,1500000,1500000,NaN,NaN
4,#horror,#horror,2015,2015,1500000,1500000,Not Rated,NaN

In [30]:
# Sampling 500 pairs and writing this sample into a .csv file
sampled = C.sample(500, random_state=0)
sampled.to_csv('./data/sampled.csv', encoding='utf-8')

In [33]:
# If you would like to avoid labeling the pairs for now, you can download the labled.csv file from
# BigGorilla using the following command (if you prefer to do it yourself, command the next line)

labeled = em.read_csv_metadata('./data/labeled.csv', ltable=kaggle_data, rtable=imdb_data,
							   fk_ltable='l_id', fk_rtable='r_id', key='_id')
labeled.head()

Metadata file is not present in the given path; proceeding to read the csv file.

,Unnamed: 0,_id,l_id,r_id,l_norm_movie_title,l_norm_title_year,l_duration,l_budget,l_content_rating,r_norm_title,r_norm_year,r_length,r_budget,r_mpaa,_sim_score,label
0,4771,4771,2639,235925,eye of the beholder,1999,109.0,15000000,R,eye of the beholder,1999,109.0,35000000,R,0.833333,1
1,11478,11478,2001,600301,rocky balboa,2006,139.0,24000000,PG,rocky balboa,2006,139.0,24000000,PG,1.000000,1
2,13630,13630,4160,691766,from russia with love,1963,115.0,2000000,Approved,the aeolians: from russia with love,2012,NaN,20000,NaN,0.666667,0
3,1972,1972,1248,101029,sex tape,2014,94.0,40000000,R,blended,2014,117.0,40000000,PG-13,0.666667,0
4,15903,15903,722,758133,the scorch trials,2015,132.0,61000000,PG-13,the scorch trials,2015,132.0,61000000,PG-13,1.000000,1

In [35]:
# Splitting the dataset

split = em.split_train_test(labeled, train_proportion=0.5, random_state=0)
train_data = split['train']
test_data = split['test']

dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')
nb = em.NBMatcher(name='NaiveBayes')

In [36]:
# Getting features 
attr_corres = em.get_attr_corres(kaggle_data, imdb_data)
attr_corres['corres'] = [('norm_movie_title', 'norm_title'), 
						 ('norm_title_year', 'norm_year'),
						('content_rating', 'mpaa'),
						 ('budget', 'budget'),
]

l_attr_types = em.get_attr_types(kaggle_data)
r_attr_types = em.get_attr_types(imdb_data)

tok = em.get_tokenizers_for_matching()
sim = em.get_sim_funs_for_matching()

F = em.get_features(kaggle_data, imdb_data, l_attr_types, r_attr_types, attr_corres, tok, sim)

In [39]:
# imported numpy
import numpy as np
train_features = em.extract_feature_vecs(train_data, feature_table=F, attrs_after='label', show_progress=False) 
train_features = em.impute_table(train_features, missing_val=np.nan ,exclude_attrs=['_id', 'l_id', 'r_id', 'label'], strategy='mean')

c:\Users\Ali\miniconda3\lib\site-packages\py_entitymatching\matcher\matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

In [41]:
# Prints the result table 
result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=train_features, 
						   exclude_attrs=['_id', 'l_id', 'r_id', 'label'], k=5,
						   target_attr='label', random_state=0)
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           1.000000          0.9875    0.993548
1            RF           1.000000          0.9875    0.993548
2           SVM           0.946970          0.9875    0.964853
3        LinReg           1.000000          0.9875    0.993548
4        LogReg           0.963333          0.9875    0.974326
5    NaiveBayes           1.000000          0.9875    0.993548

In [45]:
# Evaluating quality of the dataset 

best_model = result['selected_matcher']
best_model.fit(table=train_features, exclude_attrs=['_id', 'l_id', 'r_id', 'label'], target_attr='label')

test_features = em.extract_feature_vecs(test_data, feature_table=F, attrs_after='label', show_progress=False)
test_features = em.impute_table(test_features, missing_val=np.nan, exclude_attrs=['_id', 'l_id', 'r_id', 'label'], strategy='mean')

# Predict on the test data
predictions = best_model.predict(table=test_features, exclude_attrs=['_id', 'l_id', 'r_id', 'label'], 
								 append=True, target_attr='predicted', inplace=False)

# Evaluate the predictions
eval_result = em.eval_matches(predictions, 'label', 'predicted')
em.print_eval_summary(eval_result)

Precision : 94.44% (51/54)
Recall : 100.0% (51/51)
F1 : 97.14%
False positives : 3 (out of 54 positive predictions)
False negatives : 0 (out of 196 negative predictions)

c:\Users\Ali\miniconda3\lib\site-packages\py_entitymatching\matcher\matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

In [46]:
# Using the trained model to match the datasets 


candset_features = em.extract_feature_vecs(C, feature_table=F, show_progress=True)
candset_features = em.impute_table(candset_features, missing_val=np.nan,  exclude_attrs=['_id', 'l_id', 'r_id'], strategy='mean')
predictions = best_model.predict(table=candset_features, exclude_attrs=['_id', 'l_id', 'r_id'],
								 append=True, target_attr='predicted', inplace=False)
matches = predictions[predictions.predicted == 1]

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:10
c:\Users\Ali\miniconda3\lib\site-packages\py_entitymatching\matcher\matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

In [47]:
# Printing the matches catalog results 
from py_entitymatching.catalog import catalog_manager as cm
matches = matches[['_id', 'l_id', 'r_id', 'predicted']]
matches.reset_index(drop=True, inplace=True)
cm.set_candset_properties(matches, '_id', 'l_id', 'r_id', kaggle_data, imdb_data)
matches = em.add_output_attributes(matches, l_output_attrs=['norm_movie_title', 'norm_title_year', 'budget', 'content_rating'],
								   r_output_attrs=['norm_title', 'norm_year', 'budget', 'mpaa'],
								   l_output_prefix='l_', r_output_prefix='r_',
								   delete_from_catalog=False)
matches.drop('predicted', axis=1, inplace=True)
matches.head()

,_id,l_id,r_id,l_norm_movie_title,l_norm_title_year,l_budget,l_content_rating,r_norm_title,r_norm_year,r_budget,r_mpaa
0,4,4352,106,#horror,2015,1500000,Not Rated,#horror,2015,1500000,NaN
1,8,2726,450,crocodile dundee ii,1988,15800000,PG,crocodile dundee ii,1988,14000000,NaN
2,11,3406,838,500 days of summer,2009,7500000,PG-13,(500) days of summer,2009,7500000,PG-13
3,25,3631,1872,10 cloverfield lane,2016,15000000,PG-13,10 cloverfield lane,2016,15000000,PG-13
4,26,2965,1881,10 days in a madhouse,2015,12000000,R,10 days in delaware,2015,0,NaN