In [ ]:
# Mohammad Ali Zahir
# Student ID: 40077619
# COMP 333 - Data Analytics
# Objective: Write your own Python functions quantDDA() and vizDDA() within the notebook, and illustrate their use within the notebook.
# Output: Visualization of all the functions

## Step 1:  Quantitative Descriptions (6 marks)

In [1]:
# Import required librairies
import pandas as pd

In [13]:
# Create the quantDDA function

def quantDDA(filename:str):
  df = pd.read_csv(filename)
  description_dict = {}
  for key in df.keys():
    temp_dict = {}
    observations = df[key].shape[0]
    unique_entries = df[key].nunique()
    missing_entries = df[key].isna().sum()
    entries = observations - missing_entries
    temp_dict['Number of Observations'] = observations
    temp_dict['Number of Entries'] = entries
    temp_dict['Number of Unique Entries'] = unique_entries
    temp_dict['Number of Missing Entries'] = missing_entries
    description_dict[key] = temp_dict

  return pd.DataFrame.from_dict(description_dict)

In [14]:
quantDDA("../Assignment1/tips.csv")

,Unnamed: 0,total_bill,tip,sex,smoker,day,time,size
Number of Observations,244,244,244,244,244,244,244,244
Number of Entries,244,244,244,244,244,244,244,244
Number of Unique Entries,244,229,123,2,2,4,2,6
Number of Missing Entries,0,0,0,0,0,0,0,0