In [167]:
# Mohammad Ali Zahir
# Student ID: 40077619
# COMP 333 - Data Analytics
# Objective: Write your own Python functions quantDDA() and vizDDA() within the notebook, and illustrate their use within the notebook.
# Output: Visualization of all the functions

## Step 1:  Quantitative Descriptions (6 marks)

In [168]:
# Import required librairies
import pandas as pd 
import numpy as np

In [169]:
# Create the quantDDA function

def quantDDA(filename:str):
  df = pd.read_csv(filename)
  description_dict = {}
  numerics = ['int16', 'int32', 'int64', 'float64']
  for key in df.keys():
    temp_dict = {}
    observations = df[key].shape[0]
    unique_entries = df[key].nunique()
    missing_entries = df[key].isna().sum()
    entries = observations - missing_entries
    mode = df.mode()[key].dropna().tolist()

    if (pd.to_numeric(df[key], errors='coerce').notnull().all()):
      mean = df.mean(numeric_only=True)[key]
      
    
    else:
      mean = np.nan


    temp_dict['Number of Observations'] = observations
    temp_dict['Number of Entries'] = entries
    temp_dict['Number of Unique Entries'] = unique_entries
    temp_dict['Number of Missing Entries'] = missing_entries
    temp_dict['Mode'] = mode
    temp_dict["Mean"] = mean

    description_dict[key] = temp_dict

  updated_df = pd.DataFrame.from_dict(description_dict)
  return updated_df

In [170]:
quantDDA("../Assignment1/tips.csv")

,Unnamed: 0,total_bill,tip,sex,smoker,day,time,size
Number of Observations,244,244,244,244,244,244,244,244
Number of Entries,244,244,244,244,244,244,244,244
Number of Unique Entries,244,229,123,2,2,4,2,6
Number of Missing Entries,0,0,0,0,0,0,0,0
Mode,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",[13.42],[2.0],[Male],[No],[Sat],[Dinner],[2.0]
Mean,122.5,19.785943,2.998279,NaN,NaN,NaN,NaN,2.569672