In [ ]:
# Mohammad Ali Zahir
# Student ID: 40077619
# COMP 333 - Data Analytics
# Objective: Write your own Python functions quantDDA() and vizDDA() within the notebook, and illustrate their use within the notebook.
# Output: Visualization of all the functions

## Step 1:  Quantitative Descriptions (6 marks)

In [1]:
# Import required librairies
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
tips = pd.read_csv('./data/tips.csv', index_col=0)
gender_sub = pd.read_csv('./data/gender_submission.csv')
test = pd.read_csv('./data/test.csv')
train = pd.read_csv('./data/train.csv')

In [3]:
import numpy as np
import pandas as pd

def quantDDA(df):
    # Reading the filename to read the dataset
    
    # Creating an empty dictionary to store the values in
    description_dict =  {}

    # Loops through all the keys in the dataset and records their statistics one by one
    for key in df.columns:
        temp_dict = {}
        observations = df[key].shape[0]
        unique_entries = df[key].nunique()
        missing_entries = df[key].isna().sum()
        entries = observations - missing_entries
        mode = df.mode()[key].dropna().tolist()

        # Here we deal with non-numeric values. If the column contains a non-numeric value, we do not include it
        if df[key].dtype.kind in 'ifc' or df[key].dtype == np.bool_:
            mean = df.mean(numeric_only=True)[key]
            std = df.std(numeric_only=True)[key]
            max = df.max(numeric_only=True)[key]
            min = df.min(numeric_only=True)[key]
            q3 = df.quantile(0.75, numeric_only=True)[key]
            median = df.median(numeric_only=True)[key]
            q1 = df.quantile(0.25, numeric_only=True)[key]
            skewness = df.skew(numeric_only=True)[key]
            kurtosis = df.kurt(numeric_only=True)[key]
        else:
            mean = np.nan
            std = np.nan
            max = np.nan
            min = np.nan
            q3 = np.nan
            median = np.nan
            q1 = np.nan
            skewness = np.nan
            kurtosis = np.nan

        # Calculations done for the outliers and extreme values
        # Interquartile range
        IQR = q3 - q1

        # Formulas for the outliers and extreme values respectively
        outliers = ((df[key] < (q1 - 1.5 * IQR)) | (df[key] > (q3 + 1.5 * IQR))).sum()
        extreme_values = ((df[key] < (q1 - 3.0 * IQR)) | (df[key] > (q3 + 3.0 * IQR))).sum()

        # Adding everything to the dictionary and then converted to dataframe 
        temp_dict['Number of Observations'] = observations
        temp_dict['Number of Entries'] = entries
        temp_dict['Number of Unique Entries'] = unique_entries
        temp_dict['Number of Missing Entries'] = missing_entries
        temp_dict["Number of Outliers"] = outliers
        temp_dict["Number of Extreme Values"] = extreme_values
        temp_dict['Mode'] = mode
        temp_dict["Mean"] = mean
        temp_dict["Standard Deviation"] = std
        temp_dict["Maximum"] = max
        temp_dict["Minimum"] = min
        temp_dict["Q3"] = q3
        temp_dict["Median (or Q2)"] = median
        temp_dict["Q1"] = q1
        temp_dict["Skewness"] = skewness
        temp_dict["Kurtosis"] = kurtosis

        description_dict[key] = temp_dict

    updated_df = pd.DataFrame.from_dict(description_dict)
    return updated_df

In [4]:
# Trying with the week 2 restaurant dataset

quantDDA(tips)

,total_bill,tip,sex,smoker,day,time,size
Number of Observations,244,244,244,244,244,244,244
Number of Entries,244,244,244,244,244,244,244
Number of Unique Entries,229,123,2,2,4,2,6
Number of Missing Entries,0,0,0,0,0,0,0
Number of Outliers,9,9,0,0,0,0,9
Number of Extreme Values,0,2,0,0,0,0,0
Mode,[13.42],[2.0],[Male],[No],[Sat],[Dinner],[2]
Mean,19.785943,2.998279,NaN,NaN,NaN,NaN,2.569672
Standard Deviation,8.902412,1.383638,NaN,NaN,NaN,NaN,0.9511
Maximum,50.81,10.0,NaN,NaN,NaN,NaN,6.0
Minimum,3.07,1.0,NaN,NaN,NaN,NaN,1.0
Q3,24.1275,3.5625,NaN,NaN,NaN,NaN,3.0
Median (or Q2),17.795,2.9,NaN,NaN,NaN,NaN,2.0
Q1,13.3475,2.0,NaN,NaN,NaN,NaN,2.0
Skewness,1.133213,1.465451,NaN,NaN,NaN,NaN,1.447882
Kurtosis,1.218484,3.648376,NaN,NaN,NaN,NaN,1.7317

In [5]:
# Trying to run the gender submission from the titanic dataset example from week 2

quantDDA(gender_sub)

,PassengerId,Survived
Number of Observations,418,418
Number of Entries,418,418
Number of Unique Entries,418,2
Number of Missing Entries,0,0
Number of Outliers,0,0
Number of Extreme Values,0,0
Mode,"[892, 893, 894, 895, 896, 897, 898, 899, 900, ...",[0.0]
Mean,1100.5,0.363636
Standard Deviation,120.810458,0.481622
Maximum,1309,1
Minimum,892,0
Q3,1204.75,1.0
Median (or Q2),1100.5,0.0
Q1,996.25,0.0
Skewness,0.0,0.568991
Kurtosis,-1.2,-1.684332

In [6]:
# Trying for the test data from the titanic dataset

quantDDA(test)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Number of Observations,418,418,418,418,418,418,418,418,418,418,418
Number of Entries,418,418,418,418,332,418,418,418,417,91,418
Number of Unique Entries,418,3,418,2,79,7,8,363,169,76,3
Number of Missing Entries,0,0,0,0,86,0,0,0,1,327,0
Number of Outliers,0,0,0,0,2,11,94,0,55,0,0
Number of Extreme Values,0,0,0,0,0,3,94,0,31,0,0
Mode,"[892, 893, 894, 895, 896, 897, 898, 899, 900, ...",[3.0],"[Abbott, Master. Eugene Joseph, Abelseth, Miss...",[male],"[21.0, 24.0]",[0.0],[0.0],[PC 17608],[7.75],[B57 B59 B63 B66],[S]
Mean,1100.5,2.26555,NaN,NaN,30.27259,0.447368,0.392344,NaN,35.627188,NaN,NaN
Standard Deviation,120.810458,0.841838,NaN,NaN,14.181209,0.89676,0.981429,NaN,55.907576,NaN,NaN
Maximum,1309.0,3.0,NaN,NaN,76.0,8.0,9.0,NaN,512.3292,NaN,NaN
Minimum,892.0,1.0,NaN,NaN,0.17,0.0,0.0,NaN,0.0,NaN,NaN
Q3,1204.75,3.0,NaN,NaN,39.0,1.0,0.0,NaN,31.5,NaN,NaN
Median (or Q2),1100.5,3.0,NaN,NaN,27.0,0.0,0.0,NaN,14.4542,NaN,NaN
Q1,996.25,1.0,NaN,NaN,21.0,0.0,0.0,NaN,7.8958,NaN,NaN
Skewness,0.0,-0.53417,NaN,NaN,0.457361,4.168337,4.654462,NaN,3.687213,NaN,NaN
Kurtosis,-1.2,-1.382666,NaN,NaN,0.083783,26.498712,31.412513,NaN,17.921595,NaN,NaN

In [7]:
# Trying from the train data in the titanic dataset

quantDDA(train)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Number of Observations,891,891,891,891,891,891,891,891,891,891,891,891
Number of Entries,891,891,891,891,891,714,891,891,891,891,204,889
Number of Unique Entries,891,2,3,891,2,88,7,7,681,248,147,3
Number of Missing Entries,0,0,0,0,0,177,0,0,0,0,687,2
Number of Outliers,0,0,0,0,0,11,46,213,0,116,0,0
Number of Extreme Values,0,0,0,0,0,0,12,213,0,53,0,0
Mode,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",[0.0],[3.0],"[Abbing, Mr. Anthony, Abbott, Mr. Rossmore Edw...",[male],[24.0],[0.0],[0.0],"[1601, 347082, CA. 2343]",[8.05],"[B96 B98, C23 C25 C27, G6]",[S]
Mean,446.0,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
Standard Deviation,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
Maximum,891.0,1.0,3.0,NaN,NaN,80.0,8.0,6.0,NaN,512.3292,NaN,NaN
Minimum,1.0,0.0,1.0,NaN,NaN,0.42,0.0,0.0,NaN,0.0,NaN,NaN
Q3,668.5,1.0,3.0,NaN,NaN,38.0,1.0,0.0,NaN,31.0,NaN,NaN
Median (or Q2),446.0,0.0,3.0,NaN,NaN,28.0,0.0,0.0,NaN,14.4542,NaN,NaN
Q1,223.5,0.0,2.0,NaN,NaN,20.125,0.0,0.0,NaN,7.9104,NaN,NaN
Skewness,0.0,0.478523,-0.630548,NaN,NaN,0.389108,3.695352,2.749117,NaN,4.787317,NaN,NaN
Kurtosis,-1.2,-1.775005,-1.280015,NaN,NaN,0.178274,17.88042,9.778125,NaN,33.398141,NaN,NaN

# Step 2: Visual Descriptions (3 marks)

In [9]:
def vizDDA(df):
    # Determine the number of columns in the DataFrame
    columns  = df.columns
    # Create a square matrix of subplots
    fig, ax = plt.subplots(nrows=len(columns), ncols=len(columns), figsize=(50,50))
    # Define data type constants for continuous and categorical data
    continuous = 'iufc'
    categorical = 'O'
   

    # Iterate over each column pair (i,j)
    for i in range(0, len(columns)):
        for j in range(0, len(columns)):
            
            # Access the different features for the rows and columns
            row = columns[i]
            cols = columns[j]
            # If i and j are equal, create a univariate plot
            if i == j:
                # If the column is continuous, create a histogram
                if df.dtypes[row].kind in continuous:
                    sns.histplot(data=df[row], color='red', ax=ax[i, j])
                # Otherwise, create a countplot
                else:
                    sns.countplot(data=df, x=row, ax=ax[i, j])
            # Otherwise, create a bivariate plot
            else:
                # If both columns are continuous, create a scatterplot
                if df.dtypes[row].kind in continuous and df.dtypes[cols].kind in continuous:
                    sns.scatterplot(data=df, x=cols, y=row, hue=row, ax=ax[i, j])
                # If i is categorical and j is continuous, create a boxplot
                elif df.dtypes[row].kind in categorical and df.dtypes[cols].kind in continuous:
                    sns.boxplot(data=df, x=cols, y=row, ax=ax[i, j])
                # If i is continuous and j is categorical, create a boxplot
                elif df.dtypes[row].kind in continuous and df.dtypes[cols].kind in categorical:
                    sns.boxplot(data=df, x=cols, y=row, ax=ax[i, j])
                # Otherwise, both columns are categorical, so create a countplot
                elif df.dtypes[row].kind in categorical and df.dtypes[cols].kind in categorical:
                    sns.countplot(data=df, x=row, hue=cols, ax=ax[i, j])

     # Create a heatmap of missing values 
    
    plt.tight_layout()
    plt.figure(figsize=(30,30))
    sns.heatmap(df.isnull(), cmap='viridis', cbar=True)
    plt.title('Missing Values')

In [ ]:
vizDDA(tips)

In [ ]:
vizDDA(gender_sub)

In [12]:
# For train and test dataframes, the time of execution is so long, that i have decided not to run it. It ran for an hour, and no code was generated at all,
# hence if you have a more powerful machine, you are more than weclome to try
# vizDDA(train)
# vizDDA(test)

# Part 3: Missing Values per Observation (1 marks)

In [13]:
tips["Missing Values Count"] = tips.shape[0].isna().sum

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')