In [212]:
# Mohammad Ali Zahir
# Student ID: 40077619
# COMP 333 - Data Analytics
# Objective: Write your own Python functions quantDDA() and vizDDA() within the notebook, and illustrate their use within the notebook.
# Output: Visualization of all the functions

## Step 1:  Quantitative Descriptions (6 marks)

In [213]:
# Import required librairies
import pandas as pd 
import numpy as np

In [214]:
# Create the quantDDA function

def quantDDA(filename:str):
  df = pd.read_csv(filename)
  description_dict = {}
  numerics = ['int16', 'int32', 'int64', 'float64']
  for key in df.keys():
    temp_dict = {}
    observations = df[key].shape[0]
    unique_entries = df[key].nunique()
    missing_entries = df[key].isna().sum()
    entries = observations - missing_entries
    mode = df.mode()[key].dropna().tolist()

    if (pd.to_numeric(df[key], errors='coerce').notnull().all()):
      mean = df.mean(numeric_only=True)[key]
      std = df.std(numeric_only=True)[key]
      max = df.max(numeric_only=True)[key]
      min = df.min(numeric_only=True)[key]
      q3 = df.quantile(0.75, numeric_only=True)[key]
      median = df.median(numeric_only=True)[key]
      q1 = df.quantile(0.25, numeric_only=True)[key]
      skewness = df.skew(numeric_only=True)[key]
      kurtosis = df.kurt(numeric_only=True)[key]
    
    else:
      mean = np.nan
      std = np.nan
      max = np.nan
      min = np.nan
      q3 = np.nan
      median = np.nan
      q1 = np.nan
      skewness = np.nan
      kurtosis = np.nan

    IQR = q3 -q1

    outliers = ((df[key] < (q1 - 1.5 * IQR)) | (df[key] > (q3+ 1.5 * IQR))).sum()
    extreme_values = ((df[key] < (q1 - 3.0 * IQR)) | (df[key] > (q3+ 3.0 * IQR))).sum()

    temp_dict['Number of Observations'] = observations
    temp_dict['Number of Entries'] = entries
    temp_dict['Number of Unique Entries'] = unique_entries
    temp_dict['Number of Missing Entries'] = missing_entries
    temp_dict["Number of Outliers"] = outliers
    temp_dict["Number of Extreme Values"] = extreme_values
    temp_dict['Mode'] = mode
    temp_dict["Mean"] = mean
    temp_dict["Standard Deviation"] = std
    temp_dict["Maximum"] = max
    temp_dict["Minimum"] = min
    temp_dict["Q3"] = q3
    temp_dict["Median (or Q2)"] = median
    temp_dict["Q1"] = q1
    temp_dict["Skewness"] = skewness
    temp_dict["Kurtosis"] = kurtosis
    
    

    description_dict[key] = temp_dict

  updated_df = pd.DataFrame.from_dict(description_dict)
  return updated_df

In [215]:
quantDDA("../Assignment1/tips.csv")

,Unnamed: 0,total_bill,tip,sex,smoker,day,time,size
Number of Observations,244,244,244,244,244,244,244,244
Number of Entries,244,244,244,244,244,244,244,244
Number of Unique Entries,244,229,123,2,2,4,2,6
Number of Missing Entries,0,0,0,0,0,0,0,0
Number of Outliers,0,9,9,0,0,0,0,9
Mode,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",[13.42],[2.0],[Male],[No],[Sat],[Dinner],[2.0]
Mean,122.5,19.785943,2.998279,NaN,NaN,NaN,NaN,2.569672
Standard Deviation,70.580923,8.902412,1.383638,NaN,NaN,NaN,NaN,0.9511
Maximum,244.0,50.81,10.0,NaN,NaN,NaN,NaN,6.0
Minimum,1.0,3.07,1.0,NaN,NaN,NaN,NaN,1.0
Q3,183.25,24.1275,3.5625,NaN,NaN,NaN,NaN,3.0
Median (or Q2),122.5,17.795,2.9,NaN,NaN,NaN,NaN,2.0
Q1,61.75,13.3475,2.0,NaN,NaN,NaN,NaN,2.0
Skewness,0.0,1.133213,1.465451,NaN,NaN,NaN,NaN,1.447882
Kurtosis,-1.2,1.218484,3.648376,NaN,NaN,NaN,NaN,1.7317